header > h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
}

body > main > section > h2 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
}

body > main > section > ul {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 16px;
	list-style-type: none;
	margin: 0 0 16px 0;
	padding: 0;
}

body > main > section > ul > li {
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 12px;
	border-radius: 5px;
	background-color: var(--color-light-gray);
	padding: 8px 16px;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
}

body > main > section > ul > li > main {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

body > main > section > ul > li > main > a,
body > main > section > ul > li > main > p {
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 600;
}

body > main > section > ul > li > main > a {
	margin-bottom: 8px;
	text-decoration: none;
	color: var(--color-primary-300);
}

body > main > section > ul > li > main > p {
	margin-top: 12px;
}

body > main > section > ul > li > main > section {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 4px;
	background-color: transparent;
}

body > main > section > ul > li > main > section > h6:first-child {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 0;
}

body > main > section > ul > li > main > section > h6:last-child {
	font-size: 12px;
	font-weight: 300;
	color: #000;
	margin: 0;
}

body > main > section > ul > li > main > section > ul {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
body > main > section > ul > li > main > section > ul > li {
	color: var(--color-primary-500);
	font-size: 14px;
}

body > main > section:last-child {
	margin-top: 32px;
}

body > main > section > form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	background-color: var(--color-light-gray);
	padding: 8px 16px;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
}

body > main > section > form > h3 {
	margin: 0 0 16px 0;

	font-size: 18px;
	font-weight: 600;
}

body > main > section > form > label {
	margin-bottom: 8px;

	font-size: 16px;
	font-weight: 600;
}

body > main > section > form > input {
	padding: 8px;
	border-radius: 5px;
	margin-bottom: 16px;
	font-size: 16px;
	border: 1px solid black;
}

body > main > section > form > input:user-invalid,
body > main > section > form > label > ul > li > input:user-invalid {
	border: 1px solid red;
}

body > main > section > form > label > ul {
	display: flex;
	align-items: stretch;
	gap: 8px;
	
	padding: 0;
	margin: 8px 0 16px 0;
	list-style-type: none;
}

body > main > section > form > label > ul > li {
	flex-grow: 1;
}

body > main > section > form > label > ul > li > input {
	box-sizing: border-box;
	padding: 8px;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	border: 1px solid black;
}

body > main > section > a {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-primary-300);
	color: white;

	margin-top: 24px;
	text-decoration: none;
}

body > main > section > section > p {
	font-weight: 300;
	color: var(--color-primary-300);
}