header > h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 16px;
}

body > main > section > h2 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
}

/* RIEPILOGO PRODOTTI */
body > main > section:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 16px;
	list-style-type: none;
	margin: 0 0 16px 0;
	padding: 0;
}

body > main > section:first-of-type > article {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 12px;
	border-radius: 5px;
	background-color: var(--color-light-gray);
	padding: 8px 16px;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
}

body > main > section:first-of-type > article > img{
	width: 150px;
	height: 150px;
	object-fit: contain;
}

body > main > section:first-of-type > article > section > h3 {
	margin-top: 0;
}

body > main > section:first-of-type > article > section > p {
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 600;
	margin-top: 12px;
}

body > main > section:first-of-type > article > section > section {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 4px;
	background-color: transparent;
}

body > main > section:first-of-type > article > section > section > h4:first-child {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 0;
}

body > main > section:first-of-type > article > section > section > h4:last-child {
	font-size: 12px;
	font-weight: 300;
	color: #000;
	margin: 0;
}

body > main > section:first-of-type > article > section > section > ul {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
body > main > section:first-of-type > article > section > section > ul > li {
	color: var(--color-primary-500);
	font-size: 14px;
}

/* PAGAMENTO */
body > main > section:last-child {
	margin-top: 32px;
}

body > main > section:nth-of-type(3) > form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	background-color: var(--color-light-gray);
	padding: 8px 16px;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.5);
}

body > main > section:nth-of-type(3) > form > h3 {
	margin: 0 0 16px 0;

	font-size: 18px;
	font-weight: 600;
}

body > main > section:nth-of-type(3) > form > label,
body > main > section:nth-of-type(3) > form > section > h4 {
	margin-bottom: 8px;
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
}

body > main > section:nth-of-type(3) > form > input {
	padding: 8px;
	border-radius: 5px;
	margin-bottom: 16px;
	font-size: 16px;
	border: 1px solid black;
}

body > main > section:nth-of-type(3) > form > input:user-invalid,
body > main > section:nth-of-type(3) > form > section > ul > li > input:user-invalid {
	border: 1px solid red;
}

body > main > section:nth-of-type(3) > form > label > ul,
body > main > section:nth-of-type(3) > form > section > ul {
	display: flex;
	align-items: stretch;
	gap: 8px;
	
	padding: 0;
	margin: 8px 0 16px 0;
	list-style-type: none;
}

body > main > section:nth-of-type(3) > form > section > ul > li {
	flex-grow: 1;
}

body > main > section:nth-of-type(3) > form > section > ul > li > input {
	box-sizing: border-box;
	padding: 8px;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	border: 1px solid black;
}

body > main > section > form > input[type="submit"] {
    padding: 15px 24px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: var(--color-primary-300);
    color: white;
    margin-top: 24px;
}

body > main > section > form > input[type="submit"]:hover,
body > main > section > form > input[type="submit"]:focus {
    background-color: var(--color-primary-700);
}

body > main > section > section > p {
	font-weight: 300;
	color: var(--color-primary-300);
}

@media screen and (min-width: 1200px) {
	body > main {
		display: grid;
		grid-template-areas: 
			"title title"
			"articles sidebar"
			"footer footer";
		grid-template-columns: auto 314px;
		align-items: start;
		gap: 0 40px;
		padding-block: 40px;
	}

	body > main > header {
		grid-area: title;
	}

	body > main > section:nth-of-type(1) {
		grid-area: articles;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;
	}

	body > main > section:nth-of-type(1) > h2,
	body > main > section:nth-of-type(1) > p {
		grid-column: 1 / 4;
	}

	body > main > section:nth-of-type(3) {
		grid-area: sidebar;
	}

	body > main > section > h2 {
		margin: 0;
	}

	body > main > section:nth-of-type(3) > h2 {
		margin-bottom: 16px;
	}
}