body > main > section,
body > main > header {
	margin-bottom: 24px;
}

body > main > section > h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 12px;
}

/* FILTRI */
body > main > header > form:first-of-type {
	margin: 12px 0;
}

body > main > header > form:first-of-type > label {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	border: 1px solid #000;
	border-radius: 5px;
}

body > main > header > form:first-of-type > label > input {
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 20px;
}

body > main > header > form:first-of-type > label:has(input[type="submit"]) {
	border-color: var(--color-primary-300);
	color: var(--color-primary-300);
	border-width: 2px;
	font-weight: 700;
	justify-content: center;
	text-align: center;
}

body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"]):focus,
body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"]):hover {
	background-color: var(--color-light-gray);
}

body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"])
	> input,
body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="button"])
	> input {
	display: none;
}

body > main > header > form:first-of-type > label > span {
	font-size: 20px;
}

body > main > header > form:first-of-type > select {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 12px;
	background-color: white;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 20px;
}

body > main > header > form:first-of-type > select:focus,
body > main > header > form:first-of-type > select:hover {
	background-color: var(--color-light-gray);
}

body > main > header > form:first-of-type label:has(input[type="button"]) {
	margin-top: 12px;
}

body > main > header > form:first-of-type label:has(input[type="button"]),
body > main > header > form > section > label > input {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-primary-300);
	color: white;
}

body > main > header > form:first-of-type label:has(input[type="button"]):focus,
body > main > header > form > section > label > input:hover,
body > main > header > form:first-of-type label:has(input[type="button"]):hover,
body > main > header > form > section > label > input:focus {
	background-color: var(--color-primary-700);
}

body > main > header > form > section > label > input {
	width: 100%;
}

body > main > header > form > section {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 50px;
	border-radius: 10px 10px 0 0;
	overflow: auto;
	background-color: white;

	transform: translateY(100%);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 10px 5px #00000050;
	z-index: 10;
}

body > main > header > form > section.open {
	transform: translateY(0);
}

body > main > header > form > section > h3 {
	position: sticky;
	display: flex;
	top: 12px;
	left: 0;
	right: 0;
	padding: 0 12px;
	z-index: 10;
	justify-content: end;
	margin: 0;
}

body > main > header > form > section > h3 > button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 24px;
	color: var(--color-primary-300);
}

body > main > header > form > section > label {
	position: sticky;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	box-shadow: 0 0 10px 5px #00000050;
	background-color: white;
}

body > main > header > form > section > section {
	padding: 12px;
}

body > main > header > form > section > section > h3 {
	font-size: 24px;
	margin: 12px 0;
}

body > main > header > form > section > section > ul,
body > main > header > form > section > section > ul > li > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > main > header > form > section > section > ul > li {
	margin: 4px 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

body
	> main
	> header
	> form
	> section
	> section
	> ul
	> li
	> label
	> input[type="text"],
body
	> main
	> header
	> form
	> section
	> section
	> ul
	> li
	> label
	> input[type="number"],
body
	> main
	> header
	> form
	> section
	> section
	> ul
	> li
	> label
	> input[type="date"] {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid black;
}

body
	> main
	> header
	> form
	> section
	> section
	> ul
	> li
	> label
	> input[type="number"] {
	width: 100px;
}

body > main > header > form > section > section > ul > li > label {
	display: flex;
	gap: 4px;
	align-items: center;
}

body > main > header > form > section > section > ul > li > ul > li > span {
	color: var(--color-primary-300);
}

/* LISTA PRODOTTI */

body > main > section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 12px;
}
body > main > section > article {
	margin-bottom: 8px;
	justify-content: left;
	display: grid;
	grid-template-areas:
		"image header"
		"image footer";
	gap: 4px 12px;
}

body > main > section > article > img {
	grid-area: image;
	object-fit: contain;
}

body > main > section > article > header {
	grid-area: header;
	align-self: end;
}

body > main > section > article > header > a {
	font-size: 22px;
	font-weight: 600;
	text-decoration: none;
	color: #000;
}

body > main > section > article > footer {
	grid-area: footer;
	align-self: baseline;

	display: grid;
	column-gap: 8px;
	grid-template-areas:
		"recensioni bottone"
		"prezzo bottone";
}

body > main > section > article > footer > section {
	grid-area: recensioni;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 4px;
}

body > main > section > article > footer > section > h6:first-child {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 0;
}

body > main > section > article > footer > section > h6:last-child {
	font-size: 12px;
	font-weight: 300;
	color: #000;
	margin: 0;
}

body > main > section > article > footer > section > ul {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
body > main > section > article > footer > section > ul > li {
	color: var(--color-primary-500);
	font-size: 14px;
}

body > main > section > article > footer > p:first-of-type {
	display: none;
}

body > main > section > article > footer > p:last-of-type {
	grid-area: prezzo;
	font-size: 22px;
	font-weight: 600;
	color: #000;
}
body > main > section > article > footer > button {
	grid-area: bottone;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	background-color: var(--color-primary-300);
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
}

body > main > section > article > footer > button:focus,
body > main > section > article > footer > button:hover {
	background-color: var(--color-primary-700);
}

body > main img {
	width: 150px;
	height: 150px;
}

@media (min-width: 1200px) {
	body > main {
		display: grid;
		grid-template-columns: auto 314px;
		align-items: start;
		gap: 40px;
		padding: 30px 20px;
	}

	/* FILTRI */
	body > main > header {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	body > main > header > form:first-of-type > label:not(:first-of-type) {
		display: none !important;
	}

	body > main > header > form:first-of-type > section {
		position: relative;
		inset: 0;
		box-shadow: none;
		border-radius: none;
		transform: translateY(0);
		z-index: 0;
	}

	body > main > header > form:first-of-type > section > h3 {
		display: none;
	}

	body > main > header > form:first-of-type > section > label {
		position: relative;
		inset: 0;
		box-shadow: none;
		padding: 0;
	}

	/* LISTA PRODOTTI */
	body > main > section {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	body > main > section > article {
		grid-template-columns: auto 1fr;
		gap: 12px 30px;
	}

	body > main > section > article > img {
		width: 200px;
		height: 200px;
	}

	body > main > section > article > footer {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 12px;
	}

	body > main > section > article > footer > p:first-of-type {
		display: block;
		font-size: 16px;
		font-weight: 300;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
