body > main > section > header > h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 12px;
}

body > main > section > form > button:first-child {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-success);
	color: white;

	width: 100%;
}

body > main > section > form > input {
	display: block;
	padding: 15px 24px;
	border-radius: 5px;
	margin: 12px 0;
	border: 1px solid black;
	font-size: 18px;
	width: 100%;
}

body > main > section > form > button:last-child {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	background-color: white;
	color: var(--color-primary-300);
	border: 1px solid var(--color-primary-300);
}

section > article > footer > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Stile per il titolo e input */
section > article > header > h3 {
    display: block;
}

section > article > header > input[type="text"] {
    display: none;
}

section > article > footer button[name="salvaMarca"] {
    display: none;
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-success);
	color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="eliminaMarca"] {
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-error);
	color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="modificaMarca"] {
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-gray);
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="modificaMarca"]:hover,
section > article > footer button[name="modificaMarca"]:focus {
    background-color: var(--color-dark-gray);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

section > article > footer button[name="eliminaMarca"]:hover,
section > article > footer button[name="eliminaMarca"]:focus {
    background-color: var(--color-error-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

section > article > footer button[name="salvaMarca"]:hover,
section > article > footer button[name="salvaMarca"]:focus {
    background-color: var(--color-success-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main > section > section > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color-light-gray); 
    margin: 15px 0px; 
    box-sizing: border-box;
}

main > section > section > article > header {
    flex: 1; 
}

main > section > section > article > header > h3 {
    margin: 0; 
    font-size: 18px;
}

main > section > section > article > header > input {
    display: none;
	border-radius: 5px;
	font-size: 18px;
}

main > section > section > article > footer {
    display: flex;
    gap: 10px;
}

@media (min-width: 768px) {
    body > main > section > section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    body > main > section > section >  article {
        box-sizing: border-box;
    }

    body > main > section > section > article > header > h3 {
        font-size: 22px;
    }

    body > main > section > section > article > p {
        font-size: 20px;
        line-height: 26px;
    }

    body > main > section > section > article > p > button {
        font-size: 20px;
        line-height: 26px;
    }

    body > main > section > section > article > footer {
        font-size: 15px;
    }

    header button {
        font-size: 18px;
    }

    section + button {
        font-size: 18px;
    }
}
