body > main > section > header > h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 12px;
}

body > main > section > form > button:first-child {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-success);
	color: white;

	width: 100%;
}

body > main > section > form > input {
	display: block;
	padding: 15px 24px;
	border-radius: 5px;
	margin: 12px 0;
	border: 1px solid black;
	font-size: 18px;
	width: 100%;
}

body > main > section > form > button:last-child {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	background-color: white;
	color: var(--color-primary-300);
	border: 1px solid var(--color-primary-300);
}

body > main > section > ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 12px 0 0 0;
	padding: 0;
	list-style-type: none;
}

body > main > section > ul > li {
	padding: 4px 8px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: var(--color-light-gray);

	display: flex;
	align-items: center;
}

body > main > section > ul > li > h3 {
	flex-grow: 1;
}

body > main > section > ul > li > button {
	padding: 8px;
	border-radius: 5px;
	border: none;
	font-size: 24px;
}

body > main > section > ul > li > button:first-of-type {
	background-color: var(--color-gray);
	color: black;
	border: 1px solid black;
	margin-right: 8px;
}

body > main > section > ul > li > button:last-of-type {
	background-color: var(--color-error);
	color: white;
}

/* Stile per il titolo e input */
section > article > header > h3 {
    display: block;
}

section > article > header > input[type="text"] {
    display: none;
}

section > article > footer button[name="salvaMarca"] {
    display: none;
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-success);
	color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="eliminaMarca"] {
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-error);
	color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="modificaMarca"] {
	padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--color-gray);
    border-radius: 4px;
    transition: background-color 0.3s;
}

section > article > footer button[name="modificaMarca"]:hover,
section > article > footer button[name="modificaMarca"]:focus {
    background-color: var(--color-dark-gray);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

section > article > footer button[name="eliminaMarca"]:hover,
section > article > footer button[name="eliminaMarca"]:focus {
    background-color: var(--color-error-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

section > article > footer button[name="salvaMarca"]:hover,
section > article > footer button[name="salvaMarca"]:focus {
    background-color: var(--color-success-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
