/* MAIN */
main {
	background-color: #fff;
	margin: 50px 40px;
	box-sizing: border-box;
}

/* FORM */
main form ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

main form label {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000000;
}

main form input {
	width: 100%;
	margin-bottom: 25px;
	padding: 15px 0px 15px 8px;
	font-size: 22px;
	border: 1px solid #000000;
	border-radius: 5px;
	height: auto;
	box-sizing: border-box;
}

main form input:focus {
	border-color: var(--color-primary-300);
	outline: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main > form > ul li:last-child input[name="salva"]:hover {
	background-color: var(--color-primary-700);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main > form > ul li:last-child input[name="salva"]:focus {
	background-color: var(--color-primary-700);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main > form > ul li:last-child {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

main > form > ul li:last-child input[name="salva"],
main > form > ul li:last-child a {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

main > form > ul li:last-child input[name="salva"] {
    font-weight: bold;
    background-color: var(--color-primary-300); 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

main > form > ul li:last-child a {
    font-weight: bold;
    background-color: var(--color-gray); 
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
	height: fit-content;
	box-sizing: border-box;
	text-decoration: none;
}

main > form > ul li:last-child a:hover {
	background-color: var(--color-dark-gray);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

main > form > ul li:last-child a:focus {
	background-color: var(--color-dark-gray);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
}

main > form > ul li:last-child input {
    font-size: 18px;
}

main form div{
	color: var(--color-error); 
	display: none;
	font-size: 20px;
}

@media (min-width: 768px) {
    main {
		display: flex; 
    	flex-direction: column;
		text-align: center;
    }

	main form{
		margin: auto;
	}

	main ul {
		width: 600px;
	}

	main form label {
		display: block;
		margin-bottom: 10px;
	}

	main form input[type="button"] {
        font-size: 25px;
        padding: 20px 30px; 
    }

	main form input {
        text-align: center;
		margin-bottom: 30px;
    }

	main > form > ul li:last-child input[name="salva"] {
        font-size: 20px;
        padding: 15px 30px;
    }

    main > form > ul li:last-child a {
        font-size: 20px;
        padding: 15px 30px;
    }
}

@media (min-width: 1200px) {
	main ul {
		width: 1000px;
	}

	main > form > ul li:last-child input[name="salva"] {
        font-size: 22px;
        padding: 20px 40px;
    }

    main > form > ul li:last-child a {
        font-size: 22px;
        padding: 20px 40px;
    }
}