/* Pulsanti filtro */
header > h2 {
    text-align: center;
}

header > ul {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header button {
    background-color: #FFFFFF;
    border: 2px solid var(--color-primary-300);
    color: var(--color-primary-300);
    padding: 8px 16px;
    margin: 10px 5px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

header button:hover {
    background-color: var(--color-primary-300);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header button:not(:hover):not(:focus) {
    box-shadow: none;
}

header > ul > li:first-child > button {
    background-color: var(--color-primary-300);
    color: #ffffff;
    border: 2px solid var(--color-primary-300);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Articoli notifiche */
article {
    background-color: #ffffff;
    border: 1px solid var(--color-primary-300);
    border-radius: 8px;
    margin: 20px 0px;
    padding: 5px 20px;
}

article:hover,
article:focus{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

article > header > h3 {
    font-size: 19px;
    color: #000000;
    margin: 0;
}

article > p {
    font-size: 16px;
    color: #000000;
    margin: 10px 0;
    line-height: 24px;
}

article > footer {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}

/* Bottone eliminazione */
article > header > button {
    background-color: var(--color-error);
    border: none;
    color: #FFFFFF;
    font-size: 19px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

article > header > button:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
    color: var(--color-error);
}

article > header > button em {
    font-size: 19px;
}

/* Colore indicatore letta/non letta */

/* Notifiche lette */
article[data-notifica-letta="true"] {
    background-color: var(--color-gray);
    border: 0px;
    color: #000000;
}

article[data-notifica-letta="false"] h3::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--color-primary-700);
    border-radius: 50%;
    margin-right: 8px;
}


/* Bottone mostra altre notifiche */
section + button {
    color: var(--color-primary-300);
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
    background-color: transparent;
    border: transparent;
    display: block;
    margin: 20px auto;
}

section + button:hover {
    color: var(--color-primary-700);
    text-decoration: underline;
}

/*Leggi tutto*/
article > p > span {
    display: none;
}

article > p > button {
    background: none;
    border: none;
    color: var(--color-primary-300);
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

article > p > button:hover {
    color: var(--color-primary-700);
}

article > p > button:focus {
    color: var(--color-primary-700);
}

@media (min-width: 768px) {
	body > main {
		min-height: calc(100vh - 96px - 263px);
	}
	
    header > h2 {
        display: none;
    }

    header > ul {
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    header > ul > li> button{
        font-size: 22px; 
    }

    main > section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    article {
        margin: 0;
    }

    article > header > h3 {
        font-size: 22px; 
    }
    
    

    article > p {
        font-size: 20px;
        line-height: 26px; 
    }

    article > p> button {
        font-size: 20px;
        line-height: 26px;
    }

    article > footer {
        font-size: 15px;
    }

    header button {
        font-size: 18px; 
    }

    section + button {
        font-size: 18px;
    }
}