article {
	min-height: calc(100vh - 96px - 263px);
}

article > h1 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 12px;
}

article > section {
	background-color: var(--color-light-gray);
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

article > section > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

article > section > ul > li {
	display: flex;
	align-items: center;
	gap: 12px;
}
article > section > ul > li:not(:last-child) {
	margin-bottom: 20px;
}

article > section > ul > li > h2 {
	font-size: 16px;
	font-weight: 700;
	width: max-content;
	white-space: pre;
}

article > section > ul > li > input {
	all: unset;
	display: inline;
	width: fit-content;
}

article > button {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-primary-300);
	color: white;

	width: 100%;
	margin-top: 12px;
}