/* HEADER */
body > header > nav {
	padding: 24px 15px;
	background-color: var(--color-primary-500);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body > header > nav > a {
	font-family: "Mogra";
	font-size: 40px;
	text-decoration: none;
	color: white;
}

body > header > nav > ul {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > header > nav > ul > li,
body > header > nav > ul > li > a,
body > header > nav > ul > li > button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: white;
	font-size: 30px;
}

/* ASIDE */
body > header + aside {
	position: fixed;
	inset: 0;
	z-index: 10;
	background-color: #00000070;
	display: flex;
	justify-content: end;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

body > header + aside.open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

body > header + aside > nav {
	position: relative;
	width: 300px;
	padding: 10px;
	background-color: var(--color-primary-500);
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

body > header + aside.open > nav {
	transform: translateX(0%);
}

body > header + aside > nav > button:first-of-type {
	color: white;
	margin: 0 0 0 auto;
	padding: 12px;
	font-size: 24px;
	background-color: transparent;
	border: none;
	width: fit-content;
}

body > header + aside > nav > button:last-of-type {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: white;
	color: var(--color-primary-300);
}

body > header + aside > nav > ul {
	flex-grow: 1;

	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 16px;
}

body > header + aside > nav > ul > li > a {
	display: flex;
	align-items: center;
	gap: 12px;

	color: white;
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

body > header + aside > nav > ul > li > a > span {
	min-width: 32px;
}

/* CART */
body > header + aside + aside {
	position: fixed;
	inset: 0;
	z-index: 10;
	background-color: #00000070;
	display: flex;
	justify-content: end;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

body > header + aside + aside.open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

body > header + aside + aside > nav {
	position: relative;
	width: 300px;
	background-color: white;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	overflow: hidden;
}

body > header + aside + aside.open > nav {
	transform: translateX(0%);
}

body > header + aside + aside > nav > header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 0px 16px;
}

body > header + aside + aside > nav > header > h2 {
	font-size: 18px;
	color: var(--color-primary-300);
}

body > header + aside + aside > nav > header > button {
	color: var(--color-primary-300);
	margin: 0 0 0 auto;
	padding: 12px;
	font-size: 24px;
	background-color: transparent;
	border: none;
	width: fit-content;
}

body > header + aside + aside > nav > section {
	flex-grow: 1;
	overflow-y: auto;
	padding: 16px;
}

body > header + aside + aside > nav > section {
	list-style-type: none;
	margin: 0;
	padding: 0 12px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 16px;
}

body > header + aside + aside > nav > section > article {
	display: grid;
	grid-template-areas:
		"header main"
		"footer footer";
	gap: 12px;
	align-items: start;
	padding-bottom: 16px;
	border-bottom: 1px solid #00000070;
}

body > header + aside + aside > nav > section > article > header {
	grid-area: header;
}

body > header + aside + aside > nav > section > article > section {
	grid-area: main;
}

body > header + aside + aside > nav > section > article > header > img {
	width: 100px;
	height: 80px;
	object-fit: contain;
}

body > header + aside + aside > nav > section > article > section > h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 12px 0;
}

body > header + aside + aside > nav > section > article > footer {
	grid-area: footer;

	display: flex;
	align-items: center;
	gap: 5px;
}

body > header + aside + aside > nav > section > article > footer > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: stretch;
	justify-content: start;
}

body
	> header
	+ aside
	+ aside
	> nav
	> section
	> article
	> footer
	> ul
	> li
	> button,
body > header + aside + aside > nav > section > article > footer > button {
	padding: 6px 12px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-primary-300);
	color: white;
}

body > header + aside + aside > nav > section > article > footer > button {
	border-radius: 5px;
}

body
	> header
	+ aside
	+ aside
	> nav
	> section
	> article
	> footer
	> ul
	> li:first-child
	> button {
	border-radius: 5px 0 0 5px;
}

body
	> header
	+ aside
	+ aside
	> nav
	> section
	> article
	> footer
	> ul
	> li:last-child
	> button {
	border-radius: 0 5px 5px 0;
}

body
	> header
	+ aside
	+ aside
	> nav
	> section
	> article
	> footer
	> ul
	> li
	> label
	> input {
	all: unset;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 100%;
	padding: 0px 8px;
	outline: 1px solid var(--color-primary-300);
	outline-offset: -1px;
}

body > header + aside + aside > nav > footer {
	padding: 16px;
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

body > header + aside + aside > nav > footer > h2 {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: 22px;
	font-weight: 600;
	margin-bottom: 8px;
}
body > header + aside + aside > nav > footer > a {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;

	background-color: var(--color-primary-300);
	color: white;
	text-decoration: none;
}

/* MAIN */
main {
	background-color: #fff;
	margin: 15px;
	box-sizing: border-box;
}

body > section[data-notifica-container] {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	height: 100px;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 16px;
	z-index: 1000;
}

body > section[data-notifica-container] > button {
	padding: 8px 14px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	border: none;

	background-color: var(--color-success);
	color: white;

	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
