/* HEADER */
body > header > nav {
	padding: 24px 15px;
	background-color: var(--color-primary-500);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body > header > nav > a {
	font-family: "Mogra";
	font-size: 40px;
	text-decoration: none;
	color: white;
}

body > header > nav > ul {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > header > nav > ul > li,
body > header > nav > ul > li > a,
body > header > nav > ul > li > button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: white;
	font-size: 30px;
}

/* ASIDE */
body > header + aside {
	position: fixed;
	inset: 0;
	z-index: 10;
	background-color: #00000070;
	display: flex;
	justify-content: end;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

body > header + aside.open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

body > header + aside > nav {
	position: relative;
	width: 300px;
	padding: 10px;
	background-color: var(--color-primary-500);
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

body > header + aside.open > nav {
	transform: translateX(0%);
}

body > header + aside > nav > button:first-of-type {
	color: white;
	margin: 0 0 0 auto;
	padding: 12px;
	font-size: 24px;
	background-color: transparent;
	border: none;
	width: fit-content;
}

body > header + aside > nav > ul {
	flex-grow: 1;

	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 16px;
}

body > header + aside > nav > ul > li > a {
	display: flex;
	align-items: center;
	gap: 12px;

	color: white;
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

body > header + aside > nav > ul > li > a > em {
	min-width: 32px;
}

/* MAIN */
main {
	background-color: #fff;
	margin: 15px;
	box-sizing: border-box;
}
