:root{
	--color-primary-300: #892BAB;
	--color-primary-500: #6E238A;
	--color-primary-700: #601F7A;
	--color-error: #AD0900;
}

/* RESET DI BASE */
body,
h1,
h2,
a,
p,
input,
button {
	margin: 0;
	padding: 0;
}

/* FONT E TIPOLOGIA */
body {
	font-family: "Montserrat", sans-serif;
	color: #000000;
	background-color: #ffffff;
}

/* FOOTER */
body > footer {
	text-align: left;
	padding: 15px;
	background-color: #000;
	font-size: 16px;
	color: #ffffff;
}

body > footer ul {
	list-style: none;
	padding: 0;
	margin: 16px 0;
}

body > footer h2 {
	font-size: 24px;
}

body > footer ul li {
	margin: 8px 0;
}

body > footer a {
	text-decoration: none;
	color: #ffffff;
}

body > footer a:hover {
	color: var(--color-primary-700);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* BUTTONS */
.btn{
	padding: 15px 24px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
}

.btn-primary{
	background-color: var(--color-primary-300);
	color: white;
}

.btn-secondary{
	background-color: white;
	color: var(--color-primary-300);
}