body > main > header > h2 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 12px;
}

body > main > header > a:first-of-type {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 12px 0;
	gap: 8px;
	border: none;

	background-color: var(--color-success);
	color: white;
}

body > main > header > a:first-of-type:focus,
body > main > header > a:first-of-type:hover {
	background-color: var(--color-success-dark);
}

/* FILTRI */
body > main > header > form:first-of-type {
	margin: 12px 0;
}

body > main > header > form:first-of-type > label {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	border: 1px solid #000;
	border-radius: 5px;
}

body > main > header > form:first-of-type > label > input {
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: 20px;
}

body > main > header > form:first-of-type > label:has(input[type="submit"]) {
	border-color: var(--color-primary-300);
	color: var(--color-primary-300);
	border-width: 2px;
	font-weight: 700;
	justify-content: center;
	text-align: center;
	margin-top: 12px;
	background-color: white;
}

body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"]):hover,
body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"]):focus {
	background-color: var(--color-gray);
}

body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="submit"])
	> input,
body
	> main
	> header
	> form:first-of-type
	> label:has(input[type="button"])
	> input {
	display: none;
}

body > main > header > form:first-of-type > label > span {
	font-size: 20px;
}

/* LISTA */
body > main > section > article {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 12px 0 0 0;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid var(--color-primary-300);
}

body > main > section > article > section > h3 {
	margin: 0 0 8px 0;
}

body > main > section > article > section > p {
	margin: 0 0 24px 0;
}

body > main > section > article > section > ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 12px 0 0 0;
	padding: 0;
	list-style-type: none;
}

body > main > section > article > section > ul > li {
	padding: 4px;
	border-radius: 5px;
	background-color: var(--color-gray);
}

body > main > section > article > footer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 8px;
}

body > main > section > article > footer > a {
	padding: 15px 24px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	text-decoration: none;
}

body > main > section > article > footer > a:first-of-type {
	background-color: var(--color-primary-300);
	color: white;
	margin-top: 12px;
}

body > main > section > article > footer > a:first-of-type:focus,
body > main > section > article > footer > a:first-of-type:hover {
	background-color: var(--color-primary-700);
}

body > main > section > article > footer > a:last-of-type {
	background-color: var(--color-error);
	color: white;
}

body > main > section > article > footer > a:last-of-type:focus,
body > main > section > article > footer > a:last-of-type:hover {
	background-color: var(--color-error-dark);
}

@media (min-width: 1200px) {
	body > main {
		display: grid;
		grid-template-columns: auto 314px;
		align-items: start;
		gap: 40px;
		padding: 30px 20px;

		min-height: calc(100vh - 96px - 263px);
	}

	/* FILTRI */
	body > main > header {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	body > main > header > form:first-of-type > label:not(:first-of-type) {
		display: none !important;
	}

	body > main > header > form:first-of-type > section {
		position: relative;
		inset: 0;
		box-shadow: none;
		border-radius: none;
		transform: translateY(0);
		z-index: 0;
	}

	body > main > header > form:first-of-type > section > h3 {
		display: none;
	}

	body > main > header > form:first-of-type > section > label {
		position: relative;
		inset: 0;
		box-shadow: none;
		padding: 0;
	}

	/* LISTA PRODOTTI */
	body > main > section {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	body > main > section > article {
		grid-template-columns: auto 1fr;
		gap: 12px 30px;
	}

	body > main > section > article > img {
		width: 200px;
		height: 200px;
	}

	body > main > section > article > section:last-of-type {
		flex-grow: 1;
	}

	body > main > section > article > footer > p:first-of-type {
		display: block;
		font-size: 16px;
		font-weight: 300;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
